*.mexa64
*.swp
*.pyc
*.ipynb*
*__pycache*
.DS_Store
build/*
jnb/*
/data/3D/building
/gpismap/gpismap_Dll/x64/Release
/gpismap/gpismap_windows/.vs/gpismap_windows
/.vs
/gpismap/gpismap_Dll/.vs/gpismap_Dll
/gpismap/gpismap_Dll/gpismap_Dll/x64/Release
/gpismap/gpismap_windows/gpismap_windows/x64/Debug/gpismap_windows.tlog
/gpismap/gpismap_windows/gpismap_windows/x64/Debug
/gpismap/gpismap_windows/x64/Debug
/out/build/x64-Debug
/gpismap/gpismap_Dll/gpismap_Dll/gpismap_Dll.vcxproj
/gpismap/gpismap_Dll/gpismap_Dll/gpismap_Dll.vcxproj
/gpismap/gpismap_Dll/gpismap_Dll/gpismap_Dll.vcxproj.filters
/gpismap/gpismap_windows/gpismap_windows/x64/Release
*.exe
*.pdb
